langchain-groq
faiss-cpu
tiktoken

# LangChain - latest versions
langchain>=0.3.12
langchain-community>=0.3.12
langchain-core>=0.3.26
langchain-text-splitters>=0.3.3
langchain-experimental>=0.3.3
langchain-openai
langchain-huggingface
langgraph
langchain-tavily
langgraph-supervisor

chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
pandas
openpyxl
jq
matplotlib
rank-bm25
wikipedia
ipykernel
arxiv